.edit {
	background-color: #f7f7f9;
	border: 1px solid #e1e1e8;
	border-radius: 0.5rem;
}

form {
	padding-bottom: 1rem;
}

.item_list .form-control[disabled] {
	cursor: default;
}

.item .glyphicon-minus, .item .glyphicon-plus {
	cursor: pointer;
}

.ui-selected {
	background-color: #f0ad4e;
}