
/* Should be "global", for other pages too */
.glyphicon {
	/*vertical-align: middle;*/
}
.glyphicon.medium {
	font-size: 20px;
}
.glyphicon.large {
	font-size: 30px;
}
a:hover {
	text-decoration: none;
}

/* User */
.user {
	margin-top: 12px;
	margin-bottom: 12px;
}

.event .avatar .glyphicon {
	border: 1px solid #ccc;
	border-radius: 0.2em;
	padding: 0.2em;
}
.event:hover .avatar .glyphicon {
	border-color: black;
}
.event:hover button{
	border-color: black;
}

.add {
	font-size: 20px;
}